*{
  padding: 0;
  margin: 0;
}

.col-md-4{
  padding: 0;
  margin: 0;
  height: 60px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.artist_column{
  border-radius: 15px;
  background: #0E0E0E;
  padding: 30px;


}

.card{
  border-radius: 4px;
  background-color: #303030; 
  max-width: 300px ;
  height: 60px;
  padding: 0;

}
.card-heading{
  font-size: 29px; 
  font-weight: 700; 
  font-family: DM Sans;

}
.card a{
  text-decoration: none;
  color: white;
}
.img-fluid {
  height: 60px;
  width: 60px;
  margin: 0;
  top:-10px;
  

}
.card-title{
  color: white;
}


.track-lyrics{

 background: linear-gradient(180deg, rgba(2, 94, 18, 0.596) 10%, rgba(0, 0, 0, 0.507) 40%);
 width: 60%;
 border-radius: 15px; 
 display: flex;
 justify-content: space-between;
 margin-left: 50px;
 
 
}
.tracks {
  flex: 1;
  margin-top: 30px;
}

.lyrics {
  flex: 1;
  margin-top: 30px;
}


.track-link {
  display: block;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  width: 250px;
  
}



ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.artist-img{
  border-radius: 40px;
  margin-top: 30px;
  
}

.artist-detls{
  display: flex;
  flex-direction: row;
}
.artist-name{
  margin-top: 70px;
  margin-left: 30px;
  color: #FFF;
font-size: 22px;
font-family: DM Sans;
font-weight: 700;
letter-spacing: 0.72px; 
}

.track-name{
  color: #FFF;
font-size: 15px;
font-family: DM Sans;
font-weight: 700; 
margin-top: 30px;
}

.lyrics-nme{
  margin-top: 75px;
  color: #FFF;
font-size: 22px;
font-family: DM Sans;
font-weight: 700; 
}
.lyrics-txt{
  margin-top: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
