*{
  padding: 0;
  margin: 0;
}

.col-md-4{
  padding: 0;
  margin: 0;
  height: 60px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.artist_column{
  border-radius: 15px;
  background: #0E0E0E;
  padding: 30px;


}

.card{
  border-radius: 4px;
  background-color: #303030; 
  max-width: 300px ;
  height: 60px;
  padding: 0;

}
.card-heading{
  font-size: 29px; 
  font-weight: 700; 
}
.card a{
  text-decoration: none;
  color: white;
}
.img-fluid {
  height: 60px;
  width: 60px;
  margin: 0;
  top:-10px;
  

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
